.__sidebar{
    /* background-color: #2B2B2B; */
    background-color: transparent!important;
    border-radius: 7px;
    height: 90vh;
}


.__side{
    border-radius: 7px;
    /* background-color: #2B2B2B!important; */
}