<div class="card cardSpoti pb-2">
    <div class="card-body">

        <div class="col-12 d-flex justify-content-between align-items-center">
            <p class="d-flex align-items-center m-0 __creditos white">Siguiente en la fila...</p>
            <a class="d-flex align-items-center btn white">Abrir lista de reproducción</a>
        </div>
        <div class="col-12 d-flex pb-2 align-items-center">
            <div class="col-2 d-flex __fecha">
                <img src="https://i.scdn.co/image/ab67616d0000b27363e163ead118db13035c323f" class="img-fluid" alt="">
            </div>
            <div class="col-11 d-flex justify-content-start align-items-center" style="margin-left: 5px;">
                <div class="col-12 d-column">
                    <p class="reset text1 white">Ira Dei</p>
                    <p class="reset text1 white">Mägo de Oz</p>
                </div>
            </div>
        </div>
    </div>
</div>