<div class="card cardSpoti">
    <img src="https://www.elreporterodelacomunidad.com/images/big/586040491.jpg" class="card-img-top" alt="">
    <div class="card-body">
        <h6 class="card-title">Mägo de Oz</h6>
        <p class="card-text">3,761,238 oyentes mensuales</p>
        <p class="card-text">Mägo de Oz es una banda española de Folk Metal fundada en Madrid el 7 de julio de 1988 por
            Txus di Fellatio. Consagrada como una de las bandas más reconocidas e importantes del Heavy Metal en
            español, a su vez siendo la más popular e influyente del Folk Metal hispano.

            La banda saltó al éxito en 1998 con el álbum La leyenda de La Mancha, llegando...</p>
        <!-- <a href="#" class="btn btn-primary"></a> -->
        <div class="d-grid gap-2">
            <button class="btn btn-outline-light" type="button">Dejar de Seguir</button>
        </div>
    </div>
</div>


<!-- Mägo de Oz es una banda española de Folk Metal fundada en Madrid el 7 de julio de 1988 por Txus di Fellatio. Consagrada como una de las bandas más reconocidas e importantes del Heavy Metal en español, a su vez siendo la más popular e influyente del Folk Metal hispano.

La banda saltó al éxito en 1998 con el álbum La leyenda de La Mancha, llegando a las listas de éxitos musicales de España con canciones como «Molinos de viento» o posteriormente, con su álbum Finisterra, «Fiesta pagana».1​2​3​ La fama del grupo y su éxito, tanto en la prensa especializada como en los medios convencionales a nivel nacional e internacional, especialmente en los lineales de cintas de gasolinera y en Hispanoamérica, se hizo aún mayor tras la publicación del disco Gaia en 2003, siendo el primer trabajo de una trilogía conceptual completada con los discos Gaia II: La voz dormida en 2005 y Gaia III: Atlantia en 2010, de igual o mayor éxito.

Destaca mucho la escenografía de sus conciertos, que incorporan desde barcos piratas hasta catedrales medievales, pirotecnia y varias puestas en escena inéditas en el panorama actual del Metal en español como un miembro andante, así como la amplia temática lírica de sus composiciones, que varía en trasfondo, sea romántico, histórico, literatura, pagano, fantástico o de crítica política y social, muchas veces manejando historias conceptuales, o directamente sin sentido

Desde 1998 (La Leyenda de la Mancha) hasta 2010 (Gaia III: Atlantia) es considerado como la época dorada de Mägo de Oz, siendo 2005 y 2006 (Gaia II: La Voz Dormida) el punto más alto de fama y reconocimiento de su historia.

En el 2008, se les entregó el disco de diamante por superar el millón de copias vendidas de toda su obra discográfica solamente en España.4​5​6​ Se calcula que habrían vendido más de tres millones de discos entre España y Latinoamérica hasta el año 2013.7​

A lo largo de su carrera, Mägo de Oz ha sufrido numerosos cambios de integrantes, siendo Txus di Fellatio y Mohamed, los únicos miembros originales que continúan en la banda. -->