<div class="container-fluid">
    <div class="row">
        <!-- Comienza el sidebar -->
        <div class="col-2 col-sm-3 col-xl-3 __sbar">
            <app-sidebar></app-sidebar>
        </div>

        <!-- Comienza el contenido principal -->
        <div class="col-7 col-sm col-md col-xl-6 __mcontent">
            <app-content></app-content>
        </div>

        <!-- Comienza el rightbar de informacion de la musica reproduciendo -->
        <div class="d-none d-md-flex col-sm-3 col-xl-3 __info">
            <app-rinfo></app-rinfo>
        </div>

        <!-- Comienza el reproductor al estilo footer -->
        <div class="col-12 d-flex player ">
            <div class="col justify-content-start">
                soy la imagen e info
            </div>
            <div class="col justify-content-center">
                Soy el player
            </div>
            <div class="col justify-content-end">
                soy el volumen
            </div>
        </div>
    </div>
</div>