.__title {
    color: white;
}

.__squares {
    overflow-x: scroll;
    scrollbar-width: none;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.scrolling-wrapper > div{
    flex: 0 0 auto;
}