<div class="cover">
  <button #left class="left" (click)="leftScroll()">
    <i class="fa-solid fa-chevron-left"></i>
  </button>

  <div #scroll class="scroll-images">

    @if (tipo==0){

    @for (item of zeroItems; track $index) {
    <div class="child d-flex align-items-center badge col-2 justify-content-center p-1 __badge">
      <p class="m-0">{{item.text}}</p>
    </div>
    }@empty {
    <h4>No hay datos para mostrar</h4>
    }

    }@else if(tipo==1){

    @for (item of oneItems; track $index) {
    <div class="d-column col-6 col-md-6 col-lg-6 col-xl-4 col-xxl-3 square">
      <img class="pt-2 img-fluid rounded-circle" src={{item?.img}} alt="">
      <div class="__square">
        <h6 class="pt2 __white">{{item?.title}}</h6>
        <p class="__desc __limit __white">{{item?.desc}}</p>
      </div>
    </div>
    }@empty {
    <h4>No hay datos para mostrar</h4>
    }

    }@else{
    <!-- OPCION PARA EL CUADRO -->
    <div class="col-12 __squares d-flex scrolling-wrapper">
      @for (item of twoItems; track item.id) {
      <div class="d-flex col-6 col-md-6 col-lg-6 col-xl-4 col-xxl-3 square">
        <app-square [item]="item"></app-square>
      </div>
      } @empty {
      <h4>No hay datos para mostrar</h4>
      }
    </div>
    }

  </div>
  <button #right class="right" (click)="rightScroll()">
    <i class="fa-solid fa-chevron-right "></i>
  </button>
</div>