<div class=" pt-2">
    <div class="col-12 __publicidad">
        <img src="https://crehana-blog.imgix.net/media/filer_public/25/57/255702ce-cc19-4c2c-962c-0eb6e2c8bddd/publicidad-en-spotify.jpg"
            class="img-fluid" alt="">
    </div>
    <div class="col-12 pt-2 d-flex">
        <!-- Favorite Artist -->
        <app-scrollable [tipo]=1 [oneItems]=favorite></app-scrollable>
    </div>

    <!-- Creado para blablabla -->
    <div class="col-12 pt-3">
        <h4 class="__title">
            {{title1}}
        </h4>
        <app-scrollable [title]="title1" [tipo]=2 [twoItems]=items></app-scrollable>
    </div>
    <!-- Escuchado recientemente" -->
    <div class="col-12">
        <h4 class="__title">
            {{title2}}
        </h4>
        <app-scrollable [title]="title2" [tipo]=2 [twoItems]=items></app-scrollable>
    </div>
    <!-- Volver a escuchar-->
    <div class="col-12">
        <h4 class="__title">
            {{title3}}
        </h4>
        <app-scrollable [title]="title3" [tipo]=2 [twoItems]=items></app-scrollable>
    </div>
    <!-- Lo mejor de los artistas -->
    <div class="col-12">
        <h4 class="__title">
            {{title4}}
        </h4>
        <app-scrollable [title]="title4" [tipo]=2 [twoItems]=items></app-scrollable>
    </div>
    <!-- Sugerencias para hoy -->
    <div class="col-12">
        <h4 class="__title">
            {{title5}}
        </h4>
        <app-scrollable [title]="title5" [tipo]=2 [twoItems]=items></app-scrollable>
    </div>
</div>