<div class="col-12 d-flex">
    <div class="col-xl-9 col-xxl-10 d-column justify-content-start" style="color: white;">
        <h4>Ira Dei</h4>
        <h6>Mägo de Oz</h6>
    </div>
    <div class="col-xl-3 col-xxl-2 d-flex justify-content-end align-items-center">
        <div class="col-6 __check d-flex justify-content-center">
            <button type="button" class="btn d-flex justify-content-center align-items-center 
                btn-default btn-circle mr-1 __btnNavegar" style="background-color: greenyellow;">
                <i class="fa-solid fa-check" style="color: black;"></i>
            </button>
        </div>
        <div class="col-6 __menu d-flex justify-content-center">
            <button type="button" class="btn d-flex justify-content-center align-items-center 
            btn-default btn-circle mr-1 __btnNavegar">
                <i class="fa-solid fa-ellipsis"></i>
            </button>
        </div>
    </div>
</div>