<div class="container pt-2 __infoContainer">
    <div class="row">
        <div class="flex nowrap">
            <div class="col">
                <p style="color: #FFFF; font-weight: bold;">Ira Dei</p>
            </div>
            <img src="https://i.scdn.co/image/ab67616d0000b27363e163ead118db13035c323f" style="max-width: 100%; border-radius: 7px;" alt="">


            <!-- Song Info -->

            <div class="col-12 pt-2">
                <app-songinfo></app-songinfo>
            </div>

            <!-- Artist Info -->
            <div class="col-12 pt-2">
                <app-artistinfo></app-artistinfo>
            </div>

            <!-- Creditos de la cancion-->
            <div class="col-12 pt-2">
                <app-creditinfo></app-creditinfo>
            </div>

            <!-- Información sobre la gira-->
            <div class="col-12 pt-2">
                <app-girainfo></app-girainfo>
            </div>

            <!-- Lista de reproducción-->
            <div class="col-12 pt-2">
                <app-listareproduccion></app-listareproduccion>
            </div>
        </div>
    </div>
</div>